.container {
  border: 4px solid;
  display: inline-flex;
}
.container .item {
  width: 100px;
  height: 100px;
  background-color: orange;
  font-size: 40px;
  border: 2px solid black;
  margin-right: 10px;
}
.container .item:last-child {
  margin-right: 0;
}








