.container {
  width: 150px;
  height: 150px;
  border: 4px solid black;
  margin: 100px;
  perspective: 300px;
  perspective-origin: 50% 50%;
}
.container .item {
  width: 150px;
  height: 150px;
  background-color: orange;
  transition-duration: 1s;
  transform-origin: 50% 50%;
}
.container .item:hover {
  transform: rotateY(45deg);
}
