.container {
  width: 150px;
  height: 150px;
  border: 4px solid black;
  margin: 100px;
}
.container .item {
  width: 150px;
  height: 150px;
  background-color: orange;
  transition-duration: 1s;
  transform-origin: 50% 50%;
}
.container .item:hover {
  transform: perspective(300px) rotateY(360deg);
}
