.container {
  border: 4px solid;
  display: grid;
  grid-template-rows: 50px 50px;
  grid-template-columns: 1fr 1fr 1fr;
}
.container .item {
  border: 2px solid;
  font-size: 30px;
  background-color: orange;
}
